body{
    background-image: url("fondito.png");
   background-size: contain;
   background-repeat: no-repeat;
}

@font-face{
    font-family: euphorigenic;
    src: url(euphorig.ttf);
}
*{
    font-family: 'Euphorigenic', arial;
}
.fondo-head{
    background: url("../img/logo-.jpg") center no-repeat;

        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
}

.bar-ini2{
    background-color: #FFFFFF;
    opacity: 0.9;
    height: 45px;
}
.bar-ini3{
    background-color: #ff9955;
    opacity: 0.50;
    height: 25px;
}

/* Clase para darle estilos a la barra de navegacion */

.navbar-nav {
    width: 100%;
    text-align: right;
    border: none;

  }

  .navbar-nav li 
  {
      float: none;
      display: inline-block;
      border: none;
    }

h1{
    font-size: 50px;
    text-align: left;
    
}

h2{
    font-size: 40px;
    text-align: left;
}
h4{
    font-size: 30px;
   padding-right: 200px;

}
h5{
    font-size: 30px;
    text-align: center;
    color: #000000;
  
}
h6{
    color:#800080
}
.img-ali{
    text-align: center;
}
.imagen-logo{
    width: 20em;
    text-align: center;
   margin-left: 30%;
}
h3{
    font-size: 35px;
    text-align: center;
    color: #800080;
    margin-top: 2em;
}
.parrafo{
    text-align: center;
    font-size: 30px;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}
.imagen-mar{
    width: 30em;
}

.navbar-col {
    background: #ffe580;
    opacity: 0.95;
    height: 70px;
    border: none;
    text-align: center;

}
nav.navbar ul.nav li {
    font-family: 'Euphorigenic', arial;
    font-size: 50px;
}
nav.navbar ul.nav li a{
    color: #800080;
}

.formulario{
    text-align: center;
    margin-left: 4em;
    margin-right: 40em;
}

.logo-img{
    width: 150px
}

/* Clase para darle estilos al contenedor principal */
.container-prin {
    margin-top: 64px;
}

.redes-sociales{
    margin-top: 20px;
}

.img-social{
    height: 40px;
    width: 40px;
}
/* Clase para darle estilos a las filas y/o a columas que contienes filas */
.proyectos-row{
  
    min-height: 350px;
    padding-left: 15px;
    padding-right: 15px;
}

.services-text {
    color: #FFFFFF;
    margin-top: 13px;
  }
}

.img-mmm{
    height: 260px;
    padding: 6px;
    margin-top: 22px;
}

/* Clase para darle estilos a las columnas*/
.movies-column{
    margin-top: 5px;
    min-height: 30px;
  
}

.left-column{
    border-right: 1px dashed #ffffff;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
   

}
.active{
    color: currentColor;
}